.footer
  background-color: #000000
  color: #ffffff
  height: 134px
  .container
    height: 100%
    display: flex
    align-items: center
  &__block
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
  &__contacts
    font-size: 18px
  &__phone
    text-decoration: none
    color: #ffffff 
    padding-right: 0px 
    // margin-right: -3px
  &__email
    text-decoration: none
    color: #ffffff
    &:before 
      @extend %fa-icon
      @extend .fas 
      content: fa-content($fa-var-envelope)
      font-size: 18px
      color: $main-color
      padding-right: 10px
    &:after
      content: " | "
      padding: 0 12px 0 15px
      color: #ffffff
      opacity: 0.33
  &__address
    font-size: 20px
    color: #ffffff
    text-decoration: none
    &:hover
      text-decoration: underline

  
    &:before 
      @extend %fa-icon
      @extend .fas 
      content: fa-content($fa-var-map-marker-alt)
      color: $main-color
      padding-right: 13px
.social
  display: flex
  min-width: 98px
  justify-content: space-between
  margin-left: 13px
  &__link
    
    // float: left
    color: #000000
    background-color: #ffffff
    width: 26px
    height: 26px
    line-height: 28px
    text-align: center
    border-radius: 50%
    &:hover
      background-color:  $main-color  

  
@media (max-width: 992px)
  .footer  
    &__contacts
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      margin-top: 20px
    &__email
      margin-bottom: 10px
      &:after    
        content: "" 
        padding: 0px   
@media (max-width: 768px) 
   .footer 
      height: 200px
      &__block
        justify-content: center
        flex-direction: column 
      &__contacts
        flex-direction: column 
        margin-top: 0px       
      &__social
        margin: 20px 0
      &__email
        // margin-bottom: 0px
@media (max-width: 500px) 
   .footer 
      &__contacts
        flex-direction: column
      &__email
        margin-bottom: 20px        
    
@media (max-width: 360px) 
   .footer
      height: 250px 
      &__address
        font-size: 18px
        text-align: center
      

    