#map canvas
  filter: grayscale(100%);
.map
  position: relative
  &__form
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 51px 47px
    top: 21% 
    // margin-9top: 25%
    left: calc(50% - 585px)
    background-color: #fff
    text-align: center
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
  &__button
    margin-top: 65px
    padding: 17px 60px
    font-size: 20px
    margin-bottom: 8px;
  &__input
    margin-top: 34px
  &__title
    +bold
    font-size: 20px;
    text-transform: uppercase
    margin: 0
    &-yellow
      color: $main-color
@media (max-width: 1200px)
  .map
    &__form
      left: calc(50% - 445px)
@media (max-width: 992px)
  .map
    &__form
      left: calc(50% - 342px) 
@media (max-width: 768px)
  .map
    &__form
      position: relative
      margin: 60px auto
      left: 0
      width: 400px
@media (max-width: 360px)
  .map
    &__form 
      width: 290px  
    &__button
      font-size: 18px
      padding: 18px 37px  
      white-space: nowrap
    &__input
      font-size: 16px                      
