.service
  position: relative
  width: 377px
  height: 236px
  margin-bottom: 20px
  &:hover
    .service
      &__header        
        color: $main-text-color
  img 
    // display: block
    background-color: grey 
    position: absolute
    left: 0
    top: 0
    z-index: -1
    filter: grayscale(100%)
  &:hover
    img 
      filter: grayscale(0)
  &__header
    margin-top: 57px
    text-align: center
    line-height: 27px
    color: #ffffff
  &__button
    display: block
    margin: auto
    margin-top: 22px
    &_active
      &:hover
        background-color: $back-color
        color: #ffffff 
  &s
    margin-top: 133px
    // margin-bottom: 117px
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-color: $secondary-background
      opacity: 0.55
      z-index: -1
    &__title
      position: relative
      top: -30px
      left: -31px
    &__block
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-content: center
      margin-top: 46px
      padding-bottom: 98px
@media (max-width: 1200px)
  .service
    margin: 0 10px 20px 10px
    &s 
      &__block 
        justify-content: center 
@media (max-width: 360px)
  .service
    margin: 0px 0px 20px 0px
    &s 
      margin-top: 100px
      &__block 
        margin-top: 40px 
    img 
      max-width: 100% 
      height: 100%
    &__header
      margin: 57px 20px 0 20px
                   